    .subscribe-btn {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
    }

    .subscribe-btn:hover {
        opacity: 0.7;
    }

    .subscribe-btn:active {
        opacity: 0.4;
    }

    .join-btn {
        background-color: white;
        border-color: rgb(92, 92, 216);
        border-style: solid;
        border-radius: 2px;
       color: rgb(92, 92, 216);
       height: 36px;
       width: 62px;
       cursor: pointer;
    }

    .join-btn:hover {
        color: white;
        background-color:rgb(92, 92, 216) ;
    }

    .tweet-btn {
        background-color: rgb(92, 92, 216);
        color: white;
        height: 36px;
        width: 70px;
        border: none;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        margin-left: 8px;
        cursor: pointer;
    }